/wp-admin
/wp-includes
wp-config.php
wp-settings.php
wp-load.php
wp-mail.php
wp-signup.php
wp-trackback.php
wp-login.php
wp-cron.php
wp-mail.php
wp-links-opml.php
wp-config-sample.php
wp-comments-post.php
wp-blog-header.php
wp-activate.php
xmlrpc.php
/wp-content/uploads
/wp-content/upgrade
/wp-content/uploads-temp-backup
/wp-content/ai1wm-backups
/wp-content/languages